<a href="https://colab.research.google.com/github/darya-kulikova1988/Python-Jupiter/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Ð”Ð¾Ð¼Ð°ÑˆÐ½ÐµÐµ Ð·Ð°Ð´Ð°Ð½Ð¸Ðµ 1
###ÐžÑ„Ð¾Ñ€Ð¼Ð»ÑÐ¹Ñ‚Ðµ Ð½Ð¾ÑƒÑ‚Ð±ÑƒÐº, Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÑ ÑÑ‚Ð¸ ÑÐ¾Ð²ÐµÑ‚Ñ‹:
####ðŸŒŸ ÐÐ¾Ð¼ÐµÑ€ Ð·Ð°Ð´Ð°Ñ‡Ð¸ - Ð·Ð°Ð³Ð¾Ð»Ð¾Ð²Ð¾Ðº 2
####ðŸŒŸ ÐÐ¾Ð¼ÐµÑ€ Ð¿Ð¾Ð´Ð·Ð°Ð´Ð°Ñ‡Ð¸ - Ð·Ð°Ð³Ð¾Ð»Ð¾Ð²Ð¾Ðº 3
####ðŸŒŸ ÐŸÑ€ÐµÐ´Ð¾ÑÑ‚Ð°Ð²Ð»ÐµÐ½Ð½Ñ‹Ðµ Ð½Ð°Ð±Ð¾Ñ€Ñ‹ Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð¾Ñ„Ð¾Ñ€Ð¼Ð»ÑÐ¹Ñ‚Ðµ, ÐºÐ°Ðº ÐºÐ¾Ð´

##Ð”Ð¾Ð¼Ð°ÑˆÐ½ÐµÐµ Ð·Ð°Ð´Ð°Ð½Ð¸Ðµ 2
###ÐÐ° ÑÐºÐ»Ð°Ð´Ðµ Ð»ÐµÐ¶Ð°Ñ‚ Ñ€Ð°Ð·Ð½Ñ‹Ðµ Ñ„Ñ€ÑƒÐºÑ‚Ñ‹ Ð² Ñ€Ð°Ð·Ð½Ð¾Ð¼ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ðµ.
ÐÑƒÐ¶Ð½Ð¾ Ð½Ð°Ð¿Ð¸ÑÐ°Ñ‚ÑŒ Ñ„ÑƒÐ½ÐºÑ†Ð¸ÑŽ, ÐºÐ¾Ñ‚Ð¾Ñ€Ð°Ñ Ð½Ð° Ð²Ñ…Ð¾Ð´ Ð¿Ñ€Ð¸Ð½Ð¸Ð¼Ð°ÐµÑ‚ Ð»ÑŽÐ±Ð¾Ðµ
ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð½Ð°Ð·Ð²Ð°Ð½Ð¸Ð¹ Ñ„Ñ€ÑƒÐºÑ‚Ð¾Ð² Ð¸ Ð¸Ñ… ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾, Ð° Ð²Ð¾Ð·Ð²Ñ€Ð°Ñ‰Ð°ÐµÑ‚
Ð¾Ð±Ñ‰ÐµÐµ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ñ„Ñ€ÑƒÐºÑ‚Ð¾Ð² Ð½Ð° ÑÐºÐ»Ð°Ð´Ðµ

In [5]:
def total_fruits (*args):
  return sum(fruits.values())
fruits={'Banana': 5, 'Mango': 7, 'Apple': 8}
total_fruits(fruits)

20

##Ð”Ð¾Ð¼Ð°ÑˆÐ½ÐµÐµ Ð·Ð°Ð´Ð°Ð½Ð¸Ðµ 3
###Ð”Ð°Ð½ ÑÐ¿Ð¸ÑÐ¾Ðº Ñ Ð·Ð°Ñ‚Ñ€Ð°Ñ‚Ð°Ð¼Ð¸ Ð½Ð° Ñ€ÐµÐºÐ»Ð°Ð¼Ñƒ. 
ÐÐ¾ Ð² Ð´Ð°Ð½Ð½Ñ‹Ñ… ÐµÑÑ‚ÑŒ Ð¾ÑˆÐ¸Ð±ÐºÐ¸,Ð½ÐµÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð·Ð°Ñ‚Ñ€Ð°Ñ‚Ñ‹ Ð¸Ð¼ÐµÑŽÑ‚ Ð¾Ñ‚Ñ€Ð¸Ñ†Ð°Ñ‚ÐµÐ»ÑŒÐ½ÑƒÑŽ Ð²ÐµÐ»Ð¸Ñ‡Ð¸Ð½Ñƒ. Ð£Ð´Ð°Ð»Ð¸Ñ‚Ðµ
Ñ‚Ð°ÐºÐ¸Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð¸Ð· ÑÐ¿Ð¸ÑÐºÐ° Ð¸ Ð¿Ð¾ÑÑ‡Ð¸Ñ‚Ð°Ð¹Ñ‚Ðµ ÑÑƒÐ¼Ð¼Ð°Ñ€Ð½Ñ‹Ðµ Ð·Ð°Ñ‚Ñ€Ð°Ñ‚Ñ‹. 
Ð˜ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÐ¹Ñ‚Ðµ list comprehensions

In [13]:
costs=[100, 125, -90, 345, 655, -1, 0, 200]
sum_costs_true=sum([i for i in costs if i>0])
sum_costs_true

1425

##Ð”Ð¾Ð¼Ð°ÑˆÐ½ÐµÐµ Ð·Ð°Ð´Ð°Ð½Ð¸Ðµ 4
###Ð”Ð°Ð½Ñ‹ Ð´Ð²Ð° ÑÐ¿Ð¸ÑÐºÐ°.
### 4.1 ÐÐ°Ð¹Ð´Ð¸Ñ‚Ðµ, ÐºÐ°ÐºÐ°Ñ Ð²Ñ‹Ñ€ÑƒÑ‡ÐºÐ° Ñƒ ÐºÐ¾Ð¼Ð¿Ð°Ð½Ð¸Ð¸ Ð² Ð½Ð¾ÑÐ±Ñ€Ðµ
### 4.2 ÐÐ°Ð¹Ð´Ð¸Ñ‚Ðµ Ð²Ñ‹Ñ€ÑƒÑ‡ÐºÑƒ ÐºÐ¾Ð¼Ð¿Ð°Ð½Ð¸Ð¸ Ð² Ð·Ð°Ð²Ð¸ÑÐ¸Ð¼Ð¾ÑÑ‚Ð¸ Ð¾Ñ‚ Ð¼ÐµÑÑÑ†Ð°

In [21]:
dates=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
revenue=[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
# print(len(date_orders))
# print(len(sum_orders))
orders={dates[i]:revenue[i] for i in range(len(dates))}
#orders

#Ð ÐµÑˆÐµÐ½Ð¸Ðµ 4.1
revenue_november={dates[i]:revenue[i] for i in range(len(dates)) if dates[i]>='2021-11-01' and dates[i]<'2021-11-30'}
sum(revenue_november.values())

15239

In [94]:
#Ð ÐµÑˆÐµÐ½Ð¸Ðµ 4.2

from datetime import datetime
def revenue_by_month(dates: list, revenue: list) -> list:
  revenue_by_month={}
  for i in range(len(dates)):
    date=datetime.strptime(dates[i],'%Y-%m-%d')
    month=date.strftime('%B')
    if month in revenue_by_month:
      revenue_by_month[month]+=revenue[i]
    else:
      revenue_by_month[month]=revenue[i]
  return revenue_by_month

In [95]:
revenue_by_month(dates,revenue)

{'September': 25647, 'December': 45452, 'October': 28645, 'November': 25098}