<a href="https://colab.research.google.com/github/darya-kulikova1988/Python-Jupiter/blob/main/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Домашнее задание 1
###Оформляйте ноутбук, используя эти советы:
####🌟 Номер задачи - заголовок 2
####🌟 Номер подзадачи - заголовок 3
####🌟 Предоставленные наборы данных оформляйте, как код

##Домашнее задание 2
###На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое
количество названий фруктов и их количество, а возвращает
общее количество фруктов на складе

In [5]:
def total_fruits (*args):
  return sum(fruits.values())
fruits={'Banana': 5, 'Mango': 7, 'Apple': 8}
total_fruits(fruits)

20

##Домашнее задание 3
###Дан список с затратами на рекламу. 
Но в данных есть ошибки,некоторые затраты имеют отрицательную величину. Удалите
такие значения из списка и посчитайте суммарные затраты. 
Используйте list comprehensions

In [13]:
costs=[100, 125, -90, 345, 655, -1, 0, 200]
sum_costs_true=sum([i for i in costs if i>0])
sum_costs_true

1425

##Домашнее задание 4
###Даны два списка.
### 4.1 Найдите, какая выручка у компании в ноябре
### 4.2 Найдите выручку компании в зависимости от месяца

In [21]:
dates=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
revenue=[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
# print(len(date_orders))
# print(len(sum_orders))
orders={dates[i]:revenue[i] for i in range(len(dates))}
#orders

#Решение 4.1
revenue_november={dates[i]:revenue[i] for i in range(len(dates)) if dates[i]>='2021-11-01' and dates[i]<'2021-11-30'}
sum(revenue_november.values())

15239

In [94]:
#Решение 4.2

from datetime import datetime
def revenue_by_month(dates: list, revenue: list) -> list:
  revenue_by_month={}
  for i in range(len(dates)):
    date=datetime.strptime(dates[i],'%Y-%m-%d')
    month=date.strftime('%B')
    if month in revenue_by_month:
      revenue_by_month[month]+=revenue[i]
    else:
      revenue_by_month[month]=revenue[i]
  return revenue_by_month

In [95]:
revenue_by_month(dates,revenue)

{'September': 25647, 'December': 45452, 'October': 28645, 'November': 25098}