<a href="https://colab.research.google.com/github/darya-kulikova1988/Python-Jupiter/blob/main/HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Условие 1: 1 задача
Скачать файл в уроке.
Считать данные с помощью pandas.
Вывести на экран первые 5 строк.
Посмотреть на описание признаков и на их содержание

In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('kc-house-data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

## Условие 2: 2 задача
Проведите первичный анализ данных.
Изучите типы данных.
Найдите количество пропущенных ячеек в данных.
Посчитайте основные статистики по всем признакам и поизучайте их.
Пишите выводы.

In [ ]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

###Условие 3: 3 задача

In [ ]:
#3.1 В каком диапазоне изменяются стоимости недвижимости?
df['price'].min()

75000.0

In [ ]:
df['price'].max()

7700000.0

In [ ]:
#3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
df[['sqft_living','sqft_lot']].mean()

sqft_living     2079.899736
sqft_lot       15106.967566
dtype: float64

In [ ]:
a=df['sqft_living'].mean()/df['sqft_lot'].mean()
a

0.1376781757959227

In [ ]:
#3.3 Как много домов с разными этажами в данных?
df['floors'].unique()

array([1. , 2. , 1.5, 3. , 2.5, 3.5])

In [ ]:
df['floors'].nunique()

6

In [ ]:
#3.4 Насколько хорошие состояния у домов в данных?
df['condition'].mean()

3.4094295100171195

In [ ]:
#3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?
df['yr_built'].head(1)

0    1955
Name: yr_built, dtype: int64

In [ ]:
df['yr_built'].tail(1)

21612    2008
Name: yr_built, dtype: int64

##Условие 4: 4 задача

In [ ]:
#4.1 Сколько в среднем стоят дома, у которых 2 спальни?
bath_2=df[df['bathrooms']==2]
bath_2['price'].mean()

457889.7186528497

In [ ]:
#4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
cost_600=df[df['price']>600000]
cost_600['sqft_lot'].mean()

20442.524776214832

In [ ]:
#4.3 Как много домов коснулся ремонт?
renovated=df[df['yr_renovated']!=0]
renovated['id'].count()

914

In [ ]:
#4.4 Насколько в среднем стоимость домов с оценкой grade 
#домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [ ]:
grade10=df[df['grade']>10]
grade10['price'].mean()

1678635.1175298805

In [ ]:
grade4=df[df['grade']<4]
grade4['price'].mean()

189750.0

In [ ]:
diff=grade10['price'].mean()-grade4['price'].mean()
diff

1488885.1175298805

##Условие 5: 5 задача
Ответьте на несколько вопросов

In [ ]:
#5.1 #Выберите дом клиенту
#Клиент хочет дом с видом на набережную, 
#как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
df[(df['waterfront']==1)&(df['bathrooms']>3)&(df['sqft_basement']!=0)].shape[0]

36

In [8]:
#5.2 Выберите дом клиенту
#Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, 
#в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
condition=((df['waterfront']==1) | (df['view']==4)) & (df['condition']==5) & (df['yr_built']>=1980)
house=df[condition]
house['price'].min(),house['price'].max()

(1295000.0, 3000000.0)

In [10]:
#5.3 Выберите дом клиенту
#Клиент хочет дом без подвала, с двумя этажами,
# стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?
condition=(df['floors']==2) & (df['price']<150000) & (df['sqft_basement']==0)
house=df[condition]
house['condition'].mean()

2.8333333333333335