<a href="https://colab.research.google.com/github/darya-kulikova1988/Python-Jupiter/blob/main/Seminar1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание 1
##1.1 Соедините два словаря в один
##1.2 Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь

In [14]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}
dict1|dict2

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [19]:
dict3 = {'One': 1, 'Two': 2, 'Three': 3}
dict4 = {'Four': 4, 'Five': 5, 'Six': 6}
dict3.update(dict4)
dict3
# dict3.keys()
# dict3.values()

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [20]:
def unite_dicts3(dict1:dict, dict2:dict) -> dict:
    dict1.update(dict2)
    return dict1
unite_dicts3(dict3,dict4)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [21]:
def unite_dicts1(dict1:dict, dict2:dict) -> dict:
    a=dict1|dict2
    return a
unite_dicts1(dict1,dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
!python --version

In [ ]:
type(set(dict1.keys()))


#Задание 2
###Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения
##2.1 Используя цикл for
##2.2 Используя dict comprehensions

In [23]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

#вариант 1
def make_dict(keys:list,values:list)->dict:
  len_dict=len(keys)
  my_dict={}
  for i in range(len_dict):
    my_dict[keys[i]]=values[i]
    print(my_dict)
  return my_dict

make_dict(keys,values)

{'One': 1}
{'One': 1, 'Two': 2}
{'One': 1, 'Two': 2, 'Three': 3}

{'One': 1, 'Two': 2, 'Three': 3}

In [24]:
#вариант 2
my_dict2={keys[i]:values[i] for i in range(len(keys))}
my_dict2

{'One': 1, 'Two': 2, 'Three': 3}

In [26]:
#вариант 3(
my_dict3={i:j for i,j in zip(keys,values)}
print(my_dict3)

{'One': 1, 'Two': 2, 'Three': 3}

#Задание 3.
###Извлеките только два ключа name и age из представленного словаря
## 3.1 Напишите функцию с циклом for
## 3.2 Используя dict comprehensions

In [ ]:
client_dict = {
"name": "John",
"age": 25,
"salary": 5000,
"city": "Moscow"}

keys=["name","age"]

In [29]:
#Вариант 1
def get_keys(dictionary:dict,keys:list) -> dict:
  keys_dict={}
  for key in keys:
    keys_dict[key]=dictionary[key]
  return keys_dict
get_keys(client_dict,keys=["name","age"])

{'name': 'John', 'age': 25}

In [34]:
#Вариант2
def get_keys2(dictionary:dict,keys:list=["name","age"]):
  print(keys)
  return{key:dictionary[key] for key in keys}

In [35]:
get_keys2(client_dict)

['name', 'age']

{'name': 'John', 'age': 25}

#Задание 4
## 4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random
● Зафиксируйте псевдогенерацию, чтобы
сгенерированные значения всегда были одинаковые
● Используйте list comprehensions

In [41]:
import random
#random.seed(49)  #фиксация псевдогенерации
[random.randint(0,100) for i in range(5)]
#random.random()

[28, 77, 36, 73, 47]

#4.2* Напишите генератор
🌟 Генератор на вход принимает список с данными о клиенте (данные
из пункта 4.1)
🌟 Внутри генератора реализуйте обход по списку с данными

На каждой итерации генератор будет возвращать кортеж из двух
элементов:
1. данные по клиенту (в зависимости от итерации, на 0 итерации
вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
2. целочисленное значение, которое показывает, сколько секунд
прошло с предыдущей итерации
Примечание: секунды, которые возвращаются должны показывать время
не с начала запуска генератора, а именно то время, которое прошло с
предыдущей итерации. А значит время на первой итерации должно
равняться 0.
🌟 Используйте функцию time из модуля time для подсчета времени.
🌟 Чтобы проверить работу таймера, запустите проход по
генератору в цикле с time.sleep(2)

In [43]:
import time
import random
from random import randint, seed

In [48]:
seed(9)
data=[randint(0,100) for i in range(5)]
data

[59, 78, 47, 34, 17]

In [45]:
def generator(data:list):
  last_time=None
  for item in data:
    current_time=time.time()
    if last_time:
      delta=current_time-last_time
    else:
      delta=00
    last_time=time.time()
    yield(delta,item)

In [47]:
for obj in generator(data):
  print(obj)
  time.sleep(2)

(0, 59)
(2.0038764476776123, 78)
(2.0019326210021973, 47)
(2.0024712085723877, 34)
(2.0023250579833984, 17)